"*":
  "atom-beautify":
    general:
      _analyticsUserId: "bc864589-f94e-4294-a349-700ebbbdb05e"
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "vim-mode"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "no"
    themes: [
      "unity-ui"
      "glacier-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "go-plus":
    goPath: "/Users/holman/Code/go"
  "linter-eslint":
    useGlobalEslint: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  welcome:
    showOnStartup: false
".js.source":
  editor:
    tabLength: 4
